@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
:root {
  --primary-color: #F05454;
  --secundo-color: #30475E;
  --terceiro-color: #222831;
  --quarto-color: #E8E8E8;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: var(--quarto-color);
  display: block;
  width: 90%;
  height: 123px;
  margin: 0 auto;
  border: 2px;
}

div.allform {
  position: absolute;
  width: 644px;
  height: 929px;
  left: 415px;
  top: 63px;
  background: var(--terceiro-color);
  border-radius: 58px;
}

h1 {
  position: absolute;
  width: 644px;
  height: 142px;
  left: 0px;
  top: 0px;
  background: var(--primary-color);
  border-radius: 58px 58px 0px 0px;
}

form {
  position: absolute;
  width: 579px;
  height: 603px;
  left: 37px;
  top: 223px;
}

label #username {
  position: absolute;
  width: 143px;
  height: 46px;
  left: 82px;
  top: 249px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #F05454;
}

input #username {
  position: absolute;
  width: 532px;
  height: 98px;
  left: 60px;
  top: 223px;
  background: #E8E8E8;
  box-shadow: 12px 7px 2px -1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

label #password {
  position: absolute;
  width: 532px;
  height: 98px;
  left: 60px;
  top: 223px;
}

input #password {
  position: absolute;
  width: 532px;
  height: 98px;
  left: 60px;
  top: 223px;
}

button .confirmed {
  position: absolute;
  width: 360px;
  height: 67px;
  left: 156px;
  top: 582px;
  background: #F05454;
  border: 5px solid #222831;
  box-sizing: border-box;
  box-shadow: 7px 8px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

button.google {
  position: absolute;
  width: 547px;
  height: 80px;
  left: 45px;
  top: 746px;
  background: #EEEBDD;
  border: 3px solid #0A66C2;
  box-shadow: 14px 9px 4px rgba(0, 0, 0, 0.44);
  border-radius: 32px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #0A66C2;
}

button.google img {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 50px;
  top: 10px;
}
