<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Farro&display=swap" rel="stylesheet">
    <link link rel="stylesheet" type="text/css"  href="style.css" >
</head>

</html>


<body>

    <div>
        <a>Hello</a>
            <abc>
            <label for="username">Username</label>
            <input id="username" type="text" />
            <br/>
            <label for="password">Password</label>
            <input id="password" type="text" />
            <br/>
            Esqueceu A Senha ?
            </abc>>

    </div>

</body>


</html>